.carbon-free {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  background-color: #fcf8f5;
  font-size: 1.2rem;

  span {
    font-weight: 700;
  }

  &:hover {
    border: 1px solid #6db33f;
    transition: ease-in-out 0.3s;
  }
}

.confirm-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 9999px;
  color: #fff;
  font-size: 1.2rem;
  background-color: #6db33f;
  cursor: pointer;

  &:hover {
    background-color: #5a9c2b;
    transition: ease-in-out 0.3s;
  }
}
